html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
*:focus { outline: none; }

body {
    padding: 0;
    margin: 0;

    background: white;
    color: black;
    font: 16px/1.4 'Roboto Slab', serif;
}

.game {
    margin: 50px auto;

    text-align: center;
}

.board {
    width: 300px;
    overflow: hidden;
    margin: 50px auto;

    text-align: center;
}

.board-space {
    display: block;
    position: relative;
    float: left;
    height: 100px;

    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

.board.size-1 .board-space {
    width: 100%;
}
.board.size-2 .board-space {
    width: 50%;
}
.board.size-3 .board-space {
    width: 33%;
}
.board.size-4 .board-space {
    width: 25%;
}
.board.size-5 .board-space {
    width: 20%;
}
.board.size-6 .board-space {
    width: 16%;
}
